$black: #111111;
$gray-dark: #333333;

$text-primary: $black;
$text-secondary: $gray-dark;

$orange-light: #f2ceb9;
$orange: #ef6603;
$orange-hover: #fc8129;
$antique: #ddd0c9;

$tan: #5a5653;

$green: #95be5b;

$white: #ffffff;
$white2: #f8f8f8;

$gray: #cccccc;
$gray2: #bababa;
$gray3: #777777;
$gray4: #444444;
